header{
background: #FF69B4;

}
body{
  background: #DA70D6;
}
.caixa{
  position: relative;
  width: 940px;
  margin: auto;
}
nav{
position: absolute;
top: 110px;
right: 0;
}
nav li{
  display: inline;
  margin: 0 0 0 15px;
}
nav a{
text-transform: uppercase;
color: #FF1493;
font-weight: bold;
font-size: 20px;
text-decoration: none;
}
main{
  width: 940px;
  margin: 0 auto
}
form{
  margin: 40px 0;
}
.input-padrao{
  display: block;
  margin: 0 0 20px;
padding: 10px 25px;
width: 50%;
border-radius: 25px;
}
